In [2]:
import sys
import os

# Add project root to Python path
sys.path.append(os.path.abspath(".."))

In [16]:
from src.data_utils import load_raw,save_processed
from sklearn.impute import SimpleImputer
import numpy as np

df=load_raw("house_prices.csv")

missing=df.isna().sum().sort_values(ascending=False)
display(missing.head(30))

num_col=df.select_dtypes(include=["int64","float64"]).columns.tolist()
cat_col=df.select_dtypes(include=["object"]).columns.tolist()

empty_nc=[col for col in num_col if df[col].isna().all()]

print("Dropping empty",empty_nc)

df.drop(columns=empty_nc,inplace=True)

num_col=[col for col in num_col if col not in empty_nc]

num_imp=SimpleImputer(strategy="median")
df[num_col]=num_imp.fit_transform(df[num_col])

col_imp=SimpleImputer(strategy="constant", fill_value="missing")
df[cat_col]=col_imp.fit_transform(df[cat_col])

save_processed(df,"house_prices_cleaned_v1.csv")

df.head()

Plot Area            187531
Dimensions           187531
Society              109678
Super Area           107685
Car Parking          103357
overlooking           81436
Carpet Area           80673
facing                70233
Ownership             65517
Balcony               48935
Price (in rupees)     17665
Floor                  7077
Description            3023
Furnishing             2897
Bathroom                828
Status                  615
Transaction              83
Amount(in rupees)         0
Title                     0
Index                     0
location                  0
dtype: int64

Dropping empty ['Dimensions', 'Plot Area']

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,0.0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,missing,missing,Srushti Siddhi Mangal Murti Complex,1,2,missing,missing,missing
1,1.0,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,missing,1 Open,Freehold,missing
2,2.0,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,missing,1 Covered,Freehold,missing
3,3.0,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,6034.0,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,missing,missing,missing,1,1,missing,missing,missing
4,4.0,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,missing,1 Covered,Co-operative Society,missing